:root {
    --bg: #ffffff;
    --text: #000000;
}

.dark {
    --bg: #1e1e1e;
    --text: #f5f5f5;
}
body{
    background: var(--bg);
    color: var(--text);
    transition: background 0.3s ease, color 0.3s ease;
}
main.container{
    max-width: 960px;
}

.table td,
.table th{
    vertical-align: middle;
}

#darkMode{
    display: block;
    padding: 5px;
    background-color: black;
    color: #f5f5f5;
    border-radius: 20px;
    cursor: pointer;

}
#lightMode{
    display: none;
    padding: 5px;
    background-color: black;
    color: #f5f5f5;
    border-radius: 20px;
    cursor: pointer;
}