{% extends "layouts/base.html" %}
{% block title %}Delete Permission{% endblock %}

{% block content %}
<h2>Delete Permission</h2>

<div class="alert alert-warning">
    Are you sure you want to delete permission <strong>{{ permission.name }}</strong>?
</div>

<form method="POST">
    {{ form.hidden_tag() }}

    <button class="btn btn-danger">Yes, Delete</button>
    <a href="{{ url_for('permissions.detail', permission_id=permission.id) }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
