{% extends "layouts/base.html" %}
{% block title %}Permission Details{% endblock %}

{% block content %}
<h2>Permission Details</h2>

<div class="card mt-3">
    <div class="card-body">
        <h4>{{ permission.name }}</h4>

        <p><strong>Code:</strong> {{ permission.code }}</p>
        <p><strong>Module:</strong> {{ permission.module }}</p>
        <p><strong>Description:</strong> {{ permission.description}}</p>
        <p><strong>Created:</strong> {{ permission.created_at }}</p>
        <p><strong>Updated:</strong> {{ permission.updated_at }}</p>

        <a href="{{ url_for('permissions.edit', permission_id=permission.id) }}" class="btn btn-warning">Edit</a>
        <a href="{{ url_for('permissions.delete_confirm', permission_id=permission.id) }}" class="btn btn-danger">Delete</a>
        <a href="{{ url_for('permissions.index') }}" class="btn btn-secondary">Back</a>
    </div>
</div>
{% endblock %}
